params {
    job = null

    input = null
    outdir = "out"

    publish_dir_mode = 'copy'
    path_to_local_containers = null
    path_to_local_binaries = null

    // quality control
    do_qc = true
        do_qc_fastqc = true
        do_qc_nanoplot = true
    
    // reads cleaning
    do_clean = false
        do_clean_short = true // clean short reads
            fastp_adapter_fasta = null
            fastp_discard_trimmed_pass = false
            fastp_save_trimmed_fail = false
            fastp_save_merged = false
            fastp_qualified_quality = 15
            fastp_cut_mean_quality = 15
            fastp_reads_minlength = 15
            fastp_trim_front1 = null
            fastp_trim_front2 = null
            save_clipped_reads = false
        do_clean_ont = true // do ont cleaning
            do_clean_ont_filter_lc = true // run filter low complexity 
                low_complexity_config = null // a config for low-complexity filtering
                save_lc_filtering_bed = true
                save_lc_filtering_log = true
                save_lc_filtering_table = true
                save_ont_filtered_lc_reads = true // save reads after low-complexity filtering
            do_clean_ont_filter_general = true // run general filter with just quality and length
                filtlong_min_length = 1000
                filtlong_max_length = null  // ex, 100000
                filtlong_target_bases = null // ex, 100000000
                filtlong_keep_percent = null  // ex, 95
                filtlong_min_mean_q = null // ex, 7 
                filtlong_min_window_q = null // ex, 7
                filtlong_trim = false  // true or false
                filtlong_split = null  // integer
                
                filtlong_length_weight = null // ex, 1.0
                filtlong_mean_q_weight = null  // ex, 1.0
                filtlong_window_q_weight = null  // ex, 1.0

                filtlong_window_size = null // ex, 1000
            
            save_ont_filtered_general_reads = true  // safe reads after general filtering

    genome_size = null // ex, 1000000
    autocycler_subsample_count = null // ex, 4
    autocycler_subsample_min_read = null // ex, 'subset'
    autocycler_subsample_seed = null // ex, 0.5

    save_subsample_reads = false

    // filtering parameters


}


// clean working dir if complete successfully
cleanup = false

profiles {
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled       = false
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
}

manifest {
    contributors = {
        name = "ikchudinov"
        affiliation = "RISBM; MIPT"
        email = "ikchudinov@gmail.com"
        github = "unholyparrot"
        contribution = "author"
        orcid = "0000-0002-7527-9849"
    }
    name = "bacterial hybrid assemblies"
    description = "development of own pipeline for assemblies"
    version = "0.1.0"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

includeConfig 'conf/modules.config'
